<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Modifier un Utilisateur</h2>
            </div>
            <div class="card-body">
                <form #editForm="ngForm">
                    <div class="form-row">
                        <div class="name">Nom <span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" 
                                type="text" 
                                ngModel="{{UserToUpdate?.nom}}" 
                                id="nom" 
                                name="nom"
                                >

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Prénom<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" ngModel="{{UserToUpdate?.prenom}}" id="prenom" name="prenom">
                            </div>
                        </div>
                    </div>
                   

                    <div class="form-row">
                        <div class="name">Email<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" ngModel="{{UserToUpdate?.email}}" id="email" name="email">
                        

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Password<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <div class="password-group">
                                <input class="input--style-5" 
                                type="password" ngModel="{{UserToUpdate?.password}}" id="password" name="password"
                                [type]="fieldTextType ? 'text' : 'password'">
                                
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                      <i class="fa"
                                        [ngClass]="{
                                        'fa-eye-slash': !fieldTextType,
                                        'fa-eye': fieldTextType
                                      }"
                                        (click)="toggleFieldTextType()"></i>
                                    </span>
                                 </div>
                                 </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="name">Role<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input
                                class="input--style-5"
                                [(ngModel)]="nomrole" 
                                id="nomrole" 
                                name="nomrole"
                                [ngbTypeahead]="search"
                                (focus)="focus$.next($any($event).target.value)"
                                (click)="click$.next($any($event).target.value)"
                                #instance="ngbTypeahead">
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Télèphone<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" ngModel="{{UserToUpdate?.tel}}" id="tel" name="tel">

                            </div>
                        </div>
                    </div>
                
                
                    
                    <div>
                        <button class="btn btn--radius-2 btn--green" (click)="onUpdateUser(editForm.value)">Modifier</button>
                        <button style="margin-left: 15px;" class="btn btn--radius-2 btn--blue" type="button" (click)="goBack()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>