<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="col-sm-2 createSegment"> 
                        <a [routerLink]="'/add-user'" class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Ajouter un utilisateur</a>
                    </div>
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:100px;">Nom</th>
                                <th style="min-width:100px;">Prenom</th>
                                <th style="min-width:150px;">email</th>
                                <th style="min-width:100px;">Telephone</th>
                                <th style="min-width:150px;">Role</th>
                                <th style="min-width:100px;">Status</th>
                                <th style="min-width:100px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{user.nom}}</td>
                                <td>{{user.prenom}}</td> 
                                <td>{{user.email}}</td>
                                <td>{{user.tel}}</td>
                                <td>{{user.role.nomrole}}</td>
                                <td>
                                    <span *ngIf="user.active === 'active'" class="mode mode_on">{{user.active}}</span>
                                    <span *ngIf="user.active === 'inactive'" class="mode mode_off">{{user.active}}</span>
                                </td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Compte">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdateUser(user)">
                                        <i class="fa fa-pencil-square-o"></i> </a>
                                        
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Désactiver Compte"(click)="disableUser(user)">
                                        <a class="dropdown_icon">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!users" class="alert alert-warning">
                        <h2>Aucun Utilisateur Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
