@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Nom"; }
	td:nth-of-type(2):before { content: "Prenom"; }
	td:nth-of-type(3):before { content: "Email"; }
    td:nth-of-type(4):before { content: "Téléphone"; }
	td:nth-of-type(5):before { content: "Role"; }
	td:nth-of-type(6):before { content: "Active"; }
    td:nth-of-type(7):before { content: "Actions"; }
}